.messages messages--error
{
  color: red;
}
.messages {
    margin: 9px 0 10px 8px;
}
.messages--error {
    color: #a51b00;
    border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
    background-color: #fcf4f2;
    background-image: url(../images/error.svg);
    box-shadow: -8px 0 0 #e62600;
}
.messages + .messages {
    margin-top: 1.538em;
}
.messages {
    padding: 15px 20px 15px 35px;
    word-wrap: break-word;
    border: 1px solid;
    border-width: 1px 1px 1px 0;
    border-radius: 2px;
    background: no-repeat 10px 17px;
    overflow-wrap: break-word;
}

.messages--status {
    color: #325e1c;
    border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
    background-color: #f3faef;
    background-image: url(../images/check.svg);
    box-shadow: -8px 0 0 #77b259;
}