{% include '@yucatanis_theme/system/header.html.twig' %}
{# {{page.content}}  #}
<section class="login ptb-200 reset-pass-block">
  <div class="container">
    <div class="row">
    <div class="col-12">
        <h2>Change Your Password</h2>

           <div class="login-form">
            {{page.content}}
      

        </div>
      </div>
    </div>
  </div>
</section>
{% include '@yucatanis_theme/system/footer.html.twig' %}   