{% include '@yucatanis_theme/system/header.html.twig' %}
   
<section class="login">
  <div class="container">
    <div class="row">      
      <div class="col-12">        
          <div class="auth-form-slider">
       {# {{register_form}} #}
            {{page.content}}
              {# <h4> You are already registered!</h4> #}
            </div>        
      </div>
    </div>
  </div>
  </div>
</section>
{% include '@yucatanis_theme/system/footer.html.twig' %}   