.green-color {
	color: $priceGreen !important;
}

.red-color {
	color: $attentionRed;
}

.orange-color {
	color: $YUcanatisOrange;
}

.oddgreendark {
	color: $YUOddGreenDark;
}

.white-color {
	color: $white;
}

.bright-green {
	color: $brightGreen;
}

.yellow-color {
	color: $YUNGYellow;
}

.d-brown {
	color: $YUDarkBrown;
}

.t-grey {
	color: $TerciaryGray
}

.offwhite {
	color: $YUSatinLinen;
}

.red-color {
	color: #F00;
}

.bg-satinlinean {
	background: $YUSatinLinen;
}

.bg-dbrown {
	background: $YUDarkBrown;
}

.bg-light-yellow {
	background: $YUNGYellow20;
}

.bg-orange {
	background-color: $YUcanatisOrange;
}

.bg-yellow {
	background-color: $YUNGYellow;
}

.bg-beige {
	background-color: $Beige;
}

.bg-light-grey {
	background-color: $LightGrey;
}

.bg-yellow50 {
	background-color: $YUNGYellow50;
}

.bg-orange20 {
	background-color: $YUcanatisOrange20;
}

.bg-yellow10 {
	background-color: $YUNGYellow10;
}

.bg-tertiary {
	background-color: $YUTertiary;
}

.bg-blue50 {
	background-color: $YUblue50;
}

.bg-orange50 {
	background-color: $YUcanatisOrange50;
}

.orange-color50 {
	color: $YUcanatisOrange50;
}

.orange-color {
	color: $YUcanatisOrange;
}

.bg-pink {
	background: $YUpink;
}