.video-wrapper {


  .video-block {

    position: relative;



    video {
      width: 100%;
      height: 100%;
      border-radius: 16px;

    }

    .triangle {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 1;

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 73px solid transparent;
        border-bottom: 73px solid transparent;
        border-left: 110px solid rgba(255, 255, 255);

        @include for-phone-only {
          transform: scale(0.5);
        }
      }

    }
  }

  p {
    color: rgba(0, 0, 0, 0.59);
    text-align: center;
    margin-top: 17px;
    text-transform: math-auto;
  }
}