{% include '@yucatanis_theme/system/header.html.twig' %}
         <section class="comparision-details-block ptb-200">
  <div class="container">
    <div class="row">
 <div class="col-12">
        <h2> Compare Experience/Boat Specs</h2>
      </div>
     {{page.content}}

 
              </div>
          </div>
</section>
        {% include '@yucatanis_theme/system/footer.html.twig' %}   