    <div class="select-boxes">
    <h5 class="font20">Because you know what you are looking for (Distinctions)</h5>
    <div class="options-block">
       
        {{ content }}
    </div>
    {# <a href="" class="btn btn-secondary">Enquire</a> #}

    </div>