<form> 
        <div class="distance-field">
               <div class="select-items">
               {{ form.field_hotel_info_target_id }}
              </div>
              {# <div class="border-right"></div> #}
            
            {{form.actions}}
        </div>
    </form>