 <form> <div class="distance-field">
               <div class="select-items">
               {{ form.field_location_target_id }}
              </div>
              <div class="border-right"></div>
              
          <div class="d-grid">
                {{form.field_max_passenger_capacity_value }}
              </div>
              {# <div class="border-right"></div> #}
            </div>
            {# <div class="slect-items-wrapper">
              <div class="select-items"> #}
               
                   {{ form.created }}
                  
              {# </div>
            
            </div> #}
            
            {{form.actions}}
          </form>