 <form>
            <div class="distance-field">
              <div class="d-grid">
               {{ form.field_location_target_id }}
              </div>
              <div class="border-right"></div>
              <!-- <img src="images/uil_exchange.png" class="img-fluid exchange-icon" alt="exchange  "> -->
              <div class="d-grid">
                {{ form.field_mood_target_id }}
              </div>
              <div class="border-right"></div>
            </div>
            <div class="slect-items-wrapper">
              <div class="select-items">
               
                   {{ form.created }}
                  
              </div>
              <div class="border-right"></div>
              <div class="select-items">
                {{ form.field_adults_kids_value }}
                
              </div>
            </div>
            
            <input type="submit" class="btn btn-secondary" value="Explore Now">
          </form>