/*colors*/
$white: #fff;
$black: #000;
$YUPrimary: #423B30;
$YUSeconday: #84755D;
$priceGreen: #0FBB69;
$brightGreen: #1EA42B;
$attentionRed: #FF0000;
$YUcanatisOrange: #FF563C;
$YUNGYellow: #FFCC01;
$YUNGYellow10: #FFCD001A;
$YUNGYellow20: #FFCD0033;
$YUDarkBrown: #4A403A;
$YUOddGreenDark: #252600;
$YUSatinLinen: #E8E5D1;
$PrimaryBrownple: #332E31;
$YUOddGreenLigher: #7C7C59;
$YUDarkerBrown: #332D17;
$TerciaryGray: #15100999;
$Beige: #F6F1DD;
$LightGrey: #EBEBEB;
$YUcanatisOrange50: #FF563C80;
$YUNGYellow50: #FFCD0080;
$Lotion :#FAFAFA;
$YUcanatisOrange20: #FF563C33;
$YUTertiary: #EDEADA;
$YUTertiary15: #edead926;
$YUblue50: #0047FC80;
$green: #60D669;
$Grey: #D9D9D9;
$YUblue20: #484EDE;
$GreyishBrown: #756A5B;
$YUpink: #ff563c0d;

/* header menu */
$headerBG: $PrimaryBrownple;
$toggleBG: $YUSeconday;
$headerFirstMenuColor: $YUSatinLinen;


/* font families */
$primaryFont: Gill Sans;

/* topbar variable */
$topbarBg: $YUNGYellow;

/* buttons variables */
$primaryBtnBg: $YUNGYellow;
$primaryBtnColor: $YUOddGreenDark;


/*spaces*/
$space_xxxxs: 5px;
$space_xxxs: 10px;
$space_xxs: 15px;
$space_xs: 20px;
$space_s: 25px;
$space_m: 30px;
$space_l: 35px;
$space_xl: 40px;
$space_xxl: 45px;
$space_xxxl: 50px;
$space_xxxxl: 55px;
$space_80: 80px;
$space_100: 100px;
$space_xxxxxxl: 200px;