footer {
  background-color: $YUNGYellow;

  .footer-block {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
  }
}

.footer-credits {
  padding: $space_80;
  border-top: 1px solid $YUcanatisOrange50;


  @include for-phone-only {
    padding: 40px 20px !important;
  }

  .tagline {
    font-family: 'GT Ultra Fine';
    font-style: normal;
    font-weight: 900;
    font-size: 176px;
    line-height: 80%;
    letter-spacing: -0.03em;

    @include for-desktop-up {
      font-size: 125px;
    }

    @include for-tablet {
      font-size: 90px;
    }

    @include for-phone-only {
      font-size: 60px;
      margin-bottom: 20px;
    }
  }

  .right-credits {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 100%;

    p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      text-align: end;
    }
  }

}

.footer-travel-details {
  display: flex;
  padding: $space_80;
  border-bottom: 1px solid $YUcanatisOrange50;

  @include for-phone-only {
    padding: 40px 20px;
  }
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;

  p {
    margin: 0;
    font-weight: 600;

    .clr-green {
      color: #20A62D;
    }

    // .clr-red {
    //   color: #F00;
    // }
  }
  > img {
      width: 194px;
  }
}

footer {
  .footer-credits {
    + {
      .footer-credits {
        p {
          margin-bottom: 0;
        }

        padding: 40px 80px;
      }
    }
  }
}

.main-footer {
  padding: $space_80;
  display: flex;
  gap: 80px;
  justify-content: space-between;

  @include for-tablet {
    flex-wrap: wrap;
  }

  @include for-phone-only {

    padding: 40px 20px;
    gap: 18px !important;
  }

  .footer-block-address {
    @include for-tablet {
      width: 100%;
    }
  }

  .logo-with-address-block {
    max-width: 487px;
    > a{
      img{
        width: 220px;
      }
    }
    
  }

  .footer-block1 {
    @include for-tablet {
      width: 100%;
    }

    @include for-phone-only {
      width: 100%;
    }
  }

  .footer-block2 {
    @include for-tablet {
      width: 100%;
    }

    @include for-phone-only {
      width: 100%;
    }
  }

  .footer-block3 {
    @include for-tablet {
      width: 100%;
    }

    @include for-phone-only {
      width: 100%;
    }
  }

  .address {
    display: flex;
    flex-direction: column;
    padding: 28px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;
    color: #000000;
    text-transform: capitalize;

    .telephone {
      color: #000000;
      text-decoration: none;

    }

    address {
      width: 60%;
      margin-bottom: 28px;

      @include for-phone-only {
        width: 100%;
      }      
    }
    > ul {
        padding-left: 0;
        margin-top: 20px;
        @include for-phone-only{
          padding-left: 15px;
        }
        li {
            padding-top: 15px;
            > ul {
                padding-left: 10px;
                margin-top:0;
                li {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    ol {
                        padding-left: 10px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
    ul{ 
      li{
        font-size: 14px;
        &::marker {
          font-size: 12px;
          font-weight: 600;
        }
        
      }
    }
    p {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
    }
  }

  .footer-buttons {
    display: grid;
    gap: 16px;
    margin-top: 16px;
    .btn-black {
      @include for-phone-only {
        padding: 20px 10px;
        font-size: 16px;
      }
    }
  }

  .contact-btns {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    @include for-phone-only {
      flex-wrap: wrap;
    }

    .btn {
      width: 100%;
      padding: 12px 5px;

      @include for-phone-only {
        font-size: 16px;
      }
    }
  }
}

.footer-list {
  h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 32px;

    @include for-phone-only {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding-bottom: 32px;
      line-height: normal;

      @include for-phone-only {
        padding-bottom: 18px;
      }

      a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 0px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;

        @include for-phone-only {
          font-size: 14px;
        }
      }
    }
  }
}

.footer-list {
  ul {
    li {
      &:hover {
        a {
          border-bottom: 1px solid #000;
        }
      }
    }
  }
}

#block-footertraveldetails {
  h4 {
    font-family: 'GT Super Display';
  }

  .font18 {
    p {
      font-size: 18px;
      line-height: 160%;

      @include for-phone-only {
        font-size: 14px;
      }
    }
  }
}

.font33 {
  p {
    font-family: 'GT Ultra Fine';
  }
}

#block-map {
  p {
    margin-bottom: 0;
    width: 100%;
  }
  iframe{
    width: 100%;
  }
}

@media(max-width:1366px) {
  .main-footer {
    gap: 40px;
    flex-wrap: wrap;
  }
}