<section class="bg-orange20 enquire-by-option">
  <div class="container ptb-200">
    <h3>We organized our experiences
      in a meaningful way:</h3>

    <div class="select-boxes-wrapper">
    {{content}}
    </div>
  </div>
</section>