<section class="ptb" style="padding-top: 100px;">
  <div class="container">
    {% for key,items in paragraph.field_image_enquiry %} 
      
         <img src="{{file_url(items.entity.field_media_image.entity.fileuri)}}" alt="{{items.entity.field_media_image.alt}}" />
      
      {# {{dd(items.entity.field_media_image.entity.fileuri)}} #}
    {% endfor %}
  </div>
  </section>