.disabilities-block {
  background-image: url('../images/special-vector.png'), url("../images/star-group.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, right 16%, ;
}

.disabilities-block .container {
  padding-top: 168px;
  padding-bottom: 35px;
}

// .booking-steps-block {
//   background-image: url('../images/white-curve-path.png');
//   background-repeat: no-repeat;
//   background-position: top -9% center;
// }